@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< Dnn.GYIK.GYIK.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers

<style>
	body {
		font-family: Arial, sans-serif;
		margin: 0;
		padding: 0;
		background-color: #f4f4f4;
	}
	.qbox {
		width: 80%;
		margin: auto;
		padding: 20px;
	}

	.question {
		border-radius: 10px; /* Lekerekített sarkok */
		margin-bottom: 15px;
		padding: 15px;
		cursor: pointer;
		transition: background-color 0.3s ease; /* Átmenet a háttérszín változásához */
	}


	.answer {
		display: none;
		padding: 10px;
		border-radius: 5px;
		margin-top: 10px;
	}



	.show {
		display: block;
	}

	.red-bg{
		background-color: lightcoral !important;
	}

	.red-bg:hover .answer {
		background-color: lightcoral !important;
	}

	.green-bg{
		background-color: lightgreen !important;
	}

	.green-bg:hover .answer{
		background-color: lightgreen !important;
	}

	.yellow-bg {
		background-color: lightgoldenrodyellow !important;
	}

	.yellow-bg:hover .answer {
		background-color: lightgoldenrodyellow !important;
	}

	.blue-bg {
		background-color: lightblue !important;
	}

		.yellow-bg:hover .answer {
			background-color: lightblue !important;
		}
</style>

<p id="Items-@Dnn.ModuleContext.ModuleId">
    @if (Model.Count() == 0)
    {
        <p>Egy kérdés sincs megadva</p>
    }
    else
    {
<div class="qbox">

	@foreach (var item in Model)
	{
		if (item.AssignedUserId == 2)
		{
			<div class="question green-bg">
				<h3> @item.ItemName</h3>
				<div class="answer">
					<p>@item.ItemDescription</p>
				</div>
			</div>

			if (Dnn.ModuleContext.IsEditable)
			{
				<div>
					<a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
					<a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
				</div>
			}
		}
		else if (item.AssignedUserId == 3)
		{
			<div class="question red-bg">
				<h3> @item.ItemName</h3>
				<div class="answer">
					<p>@item.ItemDescription</p>
				</div>
			</div>

			if (Dnn.ModuleContext.IsEditable)
			{
				<div>
					<a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
					<a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
				</div>
			}
		}
		else if (item.AssignedUserId == 4)
		{
			<div class="question yellow-bg">
				<h3> @item.ItemName</h3>
				<div class="answer">
					<p>@item.ItemDescription</p>
				</div>
			</div>

			if (Dnn.ModuleContext.IsEditable)
			{
				<div>
					<a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
					<a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
				</div>
			}
		}
		else
		{
			<div class="question blue-bg">
				<h3> @item.ItemName</h3>
				<div class="answer">
					<p>@item.ItemDescription</p>
				</div>
			</div>

			if (Dnn.ModuleContext.IsEditable)
			{
				<div>
					<a href="@Url.Action("Edit", "Item", new {ctl = "Edit", itemId = item.ItemId})">@Dnn.LocalizeString("EditItem")</a>
					<a href="@Url.Action("Delete", "Item", new {itemId = item.ItemId})">@Dnn.LocalizeString("DeleteItem")</a>
				</div>
			}
		}


	}

</div>

    }
</div>

<script>
  // Add click event listener to each question
  const questions = document.querySelectorAll('.question');

  questions.forEach(question => {
    question.addEventListener('click', () => {
      // Toggle the 'show' class to show/hide answer
      question.querySelector('.answer').classList.toggle('show');
    });
  });
</script>
